
@{
    ViewBag.Title = "List";
}

<h2>Product List</h2>

<table class="table table-bordered">
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PName</td>
            <td>@item.PDescription</td>

            <td><a href="/Home/Edit/@item.PId">Update Information</a></td>
            <td><a href="/Home/Delete/@item.PId">Delete Information</a></td>


        </tr>
    }
</table>





